@charset "UTF-8";

.container-fluid {
    max-width: 95%;
	margin: auto;
}
body {
    font-family: "Avenir Light", "Museo Sans Rounded", "Muli", "Questrial";
	font-style: normal;
    color: white;
    font-kerning: 15px;
    text-align: center;
}
h1 {
   font-family: "Avenir Light", "Muli", 
}
h2 {
   font-family: "Avenir Light", "Muli", 
}

* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
/*Navigation Endss*/


/*Logo and Header Starts*/
header { 
    margin-top: 0px;
    white-space: nowrap;
}
#logo {
    padding-bottom: 0px;
    padding-top: 20px;
    border: none;
}
#logo .logoimg {
    display: inline-block;
    max-width: 100px;
    float: left;
}
#logo .icons {
    display: inline-block;
    font-size: 28px;
    float: right;
    margin-right: 15px;
    padding-top: 2.7px;
}
/*Logo and Header Ends*/


/*Video Starts*/
#videogrp {
    text-align: center;
    margin-bottom: 0px;
    clear: both;
}
#video {
    width: auto;
    text-align: center;
    max-height: 100%;
    height: auto;
    margin-top: 20px;
    padding-top: 10px;
    border: none;
}
.text-overlay {
    z-index: 1000;
    position: relative;
    top:-350px;
    font-family: "Avenir"; 
    color: white;
    text-shadow:
    -1px -1px 0 #D8D8D8,
    1px -1px 0 #D8D8D8,
    -1px 1px 0 #D8D8D8,
    1px 1px 0 #D8D8D8;  
}
.text-overlay h2 {
    font-weight: 100;
    font-size: 30px;
    font-kerning: 10px;
}
.text-overlay h1 {
    font-weight: 100;
    padding-top: 40px;
    font-size: 100px;
    font-family: "Apple Chancery"
}
/*Video Ends*/
.arrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  margin-top: -200px;
}
.arrow i {
    color: #94D2BA;
}

/*About Section Starts*/
#about {
	color: #888888;
	padding-top: 13px;
	margin-bottom: 500px;
    margin-top: -130px;
    margin-left: 90px;
    margin-right: 90px;
}
#about h2 {
    font-family: "Avenir";
    font-size: 20px;
    max-width: 500px;
    float: left;
    padding-top: 200px;
    line-height: 40px;
}
#about img {
    width: 500px;
    float: right;
}
/*About Section Ends*/


/*Image Section Starts*/
#image {
    text-align: center;
    height: auto; 
    padding-top: 330px;
    margin-top: -20px;
}
/*Image Sections Ends*/

#triangle2 {
    text-align: center;
}

#triangle2 .triangle-down {
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid white;
    display: inline-block;
    font-size: x-small;
    position: relative;
    top: -20px;
    z-index: 1000;
    margin-bottom: -50px;
    padding-bottom: -90px;
}

#triangle3 {
    text-align: center;
}
#triangle3 .triangle-down {
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	border-top: 30px solid #5B5C5C;
    display: inline-block;
    font-size: x-small;
    position: relative;
    top: -46px;
    z-index: 1000;
    margin-bottom: -50px;
    padding-bottom: -90px;
}

#contact {
    background-color: #C9C9C9;
    margin-top: -20px;
}

/*Footer Section Starts*/
#backtotop {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
#backtotop:hover {
    text-decoration: underline;
}

footer {
    display: inline-block;
    height: 90px;
}

/*Footer Section Ends*/

.resrc {
    width: 100%
}
@media screen and (max-width: 568px) {
    #about h1 {
        font-size: 19px;
    }
    .aboutus {
        margin-left: 12px;
        margin-right: 12px;
    }
    .mission {
        margin-left: 10px;
        margin-right: 10px;
    }
    #logo .icons {
    font-size: 20px;
    float: right;
    margin-right: 15px;
    padding-top: 2.7px;
    }
    #videogrp a {
    top:-50px;
    font-size: 15px;
    }
    #involve p {
    padding-left: 12px;
    padding-right: 12px;
    }
    .signup-2 .mail{
    display: none;
    }
    #projects a {
    font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .aboutus {
        margin-left: 12px;
        margin-right: 12px;
    }
    .mission {
        margin-left: 10px;
        margin-right: 10px;
    }
}
