@charset "UTF-8";

.container-fluid {
    max-width: 95%;
	margin: auto;
}
body {
    font-family: "Museo Sans Rounded", "Avenir";
    color: white;
    font-kerning: 15px;
    text-align: center;
}

/*Logo and Header Starts*/
header { 
    margin-top: 0px;
    white-space: nowrap;
}
#logo {
    padding-bottom: 0px;
    padding-top: 20px;
    border: none;
}
#logo .logoimg {
    display: inline-block;
    max-width: 100px;
    float: left;
}
#logo .icons {
    display: inline-block;
    font-size: 28px;
    float: right;
    margin-right: 15px;
    padding-top: 2.7px;
}
/*Logo and Header Ends*/


/*Video Starts*/
#videogrp {
    text-align: center;
    margin-bottom: 0px;
    clear: both;
}
#video {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    margin-top: 70px;
    padding-top: 10px;
    border: none;
}
.text-overlay {
    z-index: 1000;
    position: relative;
    top:-350px;
    font-family: "Museo Sans Rounded"; 
    font-weight: 100;
    color: white;
    text-shadow:
    -1px -1px 0 #D8D8D8,
    1px -1px 0 #D8D8D8,
    -1px 1px 0 #D8D8D8,
    1px 1px 0 #D8D8D8;  
}
.text-overlay h2 {
    font-weight: 100;
    font-size: 31px;
    font-kerning: 60px;
    font-family: "Museo Sans Rounded"; 
}
.text-overlay h1 {
    font-weight: 100;
    padding-top: 40px;
    font-size: 100px;
    font-family: "Apple Chancery"
}
/*Video Ends*/

.arrow {
  text-align: center;
  position: fixed;
  left: 49%;
  margin: 0px;
  bottom: 0;
  margin-top: -200px;
}
.arrow i {
    text-align: center;
    color: #94D2BA;
}

/*About Section Starts*/
#about {
	color: #888888;
	padding-top: 13px;
	margin-bottom: 500px;
    margin-top: -300px;
    margin-left: 90px;
    margin-right: 90px;
    display: inline-block;
}
.aboutus {
     padding-top: 200px;
     max-width: 600px;
}
#about h1 {
    font-family: "Avenir";
    font-size: 30px;
    text-align: center;
    display: inline-block;
}
#about h2 {
    font-family: "Avenir";
    font-size: 18px;
    max-width: 500px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}
#about .aboutus img {
    padding-top: 25px;
    width: 170px;
    text-align: center;
    display: inline-block;
}
#screen1 img {
    width: 900px;
    float: center;
    display: inline-block;
    margin-top: -450px;
}
/*About Section Ends*/

#line img {
    padding-top: 150px;
}

/*Image Section Starts*/
#image {
    text-align: center;
    height: auto; 
    padding-top: 330px;
    margin-top: -20px;
}
/*Image Sections Ends*/

#contact {
    background-color: #C9C9C9;
    margin-top: -20px;
}

#backtotop {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
#backtotop:hover {
    text-decoration: underline;
}

/*icon and download starts*/
#download {
    padding-top: 30px;
    text-align: center;
}
#download .icon img {
    clear: both;
    width: 70px;
}
#download .appstore img {
    clear: both;
    padding-top: 20px;
}
/*icon and download ends*/
.socialmedia .icons {
    text-align: center;
    padding-top: 50px;
}
.socialmedia .icons i {
    padding-left: 40px;
    padding-right: 40px;
}
/*Footer Section Starts*/
footer {
    display: inline-block;
    height: 90px;
}
/*Footer Section Ends*/

@media screen and (max-width: 568px) {

}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 1300px) {

}
